	<% provide(:title, 'Ajuda') %>
<h1>Consiga ajuda.</h1>
<p>
	Para ajuda sobre o Ruby on Rails Tutorial, acesse o 
	<a href="http://railstutorial.org/help">Rails Tutorial help</a>
	Para ajuda sobre este sample app, acesse o 
	<a href="http://railstutorial.org/book">Rails Tutorial book</a>
</p>